<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/footer.css">
</head>

<body>
    <div id="kau_mainFooter">
        <!-- extended footer -->
        <div id="kau_first">
            <p id="kau_footerHeading">Rentomojo: Upgrade To Your Dream Lifestyle At An Unbelievably Low Price!</p>
            <p class="kau_footerP" style="text-align: justify;">RentoMojo is your ticket to a better lifestyle in India.
                We
                provide designer furniture, the newest gadgets, and bestselling appliances on rent in major Indian
                cities. You can use the best products available in the market at just a fraction of their retail value.
                You pay us a small monthly fee, which becomes lesser the longer you rent from us.</p>
            <br>
            <p class="kau_footerP" style="text-align: justify;">Besides saving you money, we do our best to provide you
                with
                an exceptional, super-comfortable rental experience. Our ordering process is straightforward and
                efficient. You can order from us in a matter of minutes from your PC or smartphone. We offer speedy
                delivery in major Indian cities, namely Bangalore, Mumbai, Delhi, Chennai, Pune, Hyderabad, Gurgaon, and
                Noida.</p>
            <br>
            <p class="kau_footerP" style="text-align: justify;">No matter what product you rent from us, we will provide
                you
                with several complementary benefits with it. The benefits range from a yearly product swap option to a
                periodic free maintenance service. These are benefits no regular retailer offers. Start renting now!</p>
            <br>
            <span id="kau_read" class="kau_footerP">
                Read More >
            </span>
        </div>
        <!-- main footer of landing page -->
        <div id="kau_second">
            <div>
                <strong style="color: rgb(64, 63, 63);font-weight: 300;">RENTOMOJO</strong>
                <ul class="kau_mojo">
                    <p>About Us</p>
                    <p>Culture</p>
                    <p>Investors</p>
                    <p>Careers</p>
                    <p>Contact</p>
                    <p>Our Benefits</p>
                    <p>Sitemap</p>
                </ul>
            </div>
            <div>
                <strong style="color: rgb(55, 53, 53);font-weight: 300;">INFORMATION</strong>
                <ul class="kau_mojo">
                    <p>Blog</p>
                    <p>FAQs</p>
                    <p>Documents Required</p>
                </ul>
            </div>
            <div>
                <strong style="color: rgb(59, 56, 56);font-weight: 300;">POLICIES</strong>
                <ul class="kau_mojo">
                    <p>Shipping Policy</p>
                    <p>Cancellation & Return</p>
                    <p>Privacy Policy</p>
                    <p>Rental Terms & Conditions</p>
                    <p>Referral Terms & Conditions</p>
                </ul>
            </div>
            <div>
                <strong style="color: rgb(59, 56, 56);font-weight: 300;">NEED HELP?</strong>
                <ul class="kau_mojo">
                    <input type="text" placeholder="Chat with us(9am-6pm)">
                    <p>⨻ jo@rentorntomojo.com</p>
                    <p>DOWNLOAD APP</p>
                    <img src="https://tse3.mm.bing.net/th?id=OIP.I4u9ETLjim5KRCBEyb9O1wHaBD&pid=Api&P=0" alt="">
                </ul>
            </div>
        </div>
        <hr>
        <div id="kau_buttomFooter">
            <div>
                <p>© 2022. Edunetwork Pvt. Ltd.</p>
            </div>
            <div>
                <img style="height: 40px;" src="https://cdn-icons-png.flaticon.com/128/1384/1384005.png" alt="">
                <img style="height: 40px;"
                    src="https://cdn-icons.flaticon.com/png/128/3670/premium/3670274.png?token=exp=1658255596~hmac=7199179416443d6bda5beadd83c2fdbd"
                    alt="">
                <img style="height: 40px;"
                    src="https://cdn-icons.flaticon.com/png/128/4494/premium/4494465.png?token=exp=1658255596~hmac=4e443b85107a6dc4a5a527f7bd3b19d1"
                    alt="">
                <img style="height: 40px;"
                    src="https://cdn-icons.flaticon.com/png/128/4494/premium/4494467.png?token=exp=1658255596~hmac=696156396e71dfaf30367b24b7fad5a2"
                    alt="">
                <img style="height: 40px;" src="https://cdn-icons-png.flaticon.com/128/1384/1384014.png" alt="">
            </div>
        </div>
    </div>
</body>
</html>
<script>
</script>