* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #000;
}
a:hover {
    color: #000;
}
#pra_carouselSlider {
  width: 80%;
  margin: 20px auto;
}
#pra_carouselSlider .carousel-inner {
  border-radius: 25px;
}
#pra_carouselSlider .d-block {
  border-radius: 25px;
}
#pra_features {
    width: 80%;
    margin: 30px auto;
    border: 1px solid transparent;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap:20px;
    
}
#pra_features > a {
    border: 0.5px solid rgb(226, 226, 226);
    border-radius: 15px;
}
#pra_features > a:hover {
    transition: 0.6s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
#pra_features img {
    width: 64px;
    height: 64px;
    margin: auto;
}
#pra_features > a > div {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    margin: 10px auto 5px auto;
    
}
